.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; /* ocupa la pantalla */
}

.loader {
  border: 8px solid #f3f3f3; /* color del fondo */
  border-top: 8px solid #8a5a3a; /* color del spinner */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-container p {
  font-size: 1.2rem;
  color: #3b2e25;
  font-weight: bold;
}
